.square-group,.square {
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  width: 200px;
  height: 200px;
  margin: 0 5px 5px 0;
  padding: 15px;
  border: 1px solid #000;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
